!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : 'Typicode'
    %meta{ name: "description", content: 'Props from mayka' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %main
      .container
        = yield